.promo {
    background: url("../img/header_bg.jpg") center (center / cover) no-repeat;
    min-height: 937px;
    padding-top: 60px;
    &__wrapper {
        margin-top: 106px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__subheader {
        font-weight: 500;
        font-size: 30px;
        color: #333333;
        margin: 0;
        margin-bottom: 10px;
    }
    &__header {
        font-weight: 900;
        font-size: 70px;
        line-height: 98.44%;
        letter-spacing: 0.035em;
        font-variant: small-caps;
        color: #333333;
    }
    &__descr {
        font-weight: 500;
        font-size: 24px;
        color: #333333;
        margin-bottom: 60px;
    }
    &__img {
        max-width: 700px;
        img {
            width: 100%;
        }
    }
    &__main-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__container {
        margin: 0 15px;
        padding: 45px 85px 45px 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 415px;
        height: 286.06px;
        background: rgba(254, 254, 254, 1);
        border-radius: 6px;
        border-top: none;
        filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
        text-align: center;
        span {
            font-weight: 900;
            font-size: 96px;
            line-height: 68px;
            color: rgba(225, 236, 242, 0.5);
        }
    }
    &__list {
        margin-top: 20px;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
        color: #333333;
        &-descr {
            font-weight: 300;
            font-size: 16px;
            margin-top: 15px;
            line-height: 140%;
            color: #333333;
        }
    }
}